<html id="html" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<body id="body">

	<h:form id="menuWest">
		<p:menu>
			<p:menuitem outcome="/cockpitapplication/mainScreen.xhtml"
				value="List of Sensors" />
			<p:menuitem outcome="/cockpitapplication/sensorValueMonitoringScreen.xhtml"
				value="Live Monitoring" />
			<p:menuitem outcome="/cockpitapplication/actuatorControlScreen.xhtml"
				value="Control Actuators" />
		</p:menu>
	</h:form>

</body>

</html>