<!DOCTYPE html  [
    <!ENTITY nbsp "&#160;"> 
]>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	style="overflow: hidden; height: 100%;">

<f:view locale="#{facesContext.externalContext.requestLocale}"
	transient="true">

	<f:loadBundle basename="messages" var="msg"></f:loadBundle>

	<h:head>

		<f:facet name="first">
			<title>Greenhouse Cockpit</title>
			<!-- First -->
		</f:facet>

		<link rel="shortcut icon" href="#{request.contextPath}/favicon.ico"
			type="image/x-icon" />

	</h:head>

	<h:body>

		<f:facet name="last">
			<!-- Last -->
			<h:outputStylesheet library='css' name='standard-style.css' />
            <h:outputStylesheet library='css' name='custom-style.css' />
		</f:facet>
		<h:form>
			<h:commandLink action="/index.xhtml?faces-redirect=true">
				<h:graphicImage alt="Virtual Developer" title="Virtual Developer"
					library="images" style="border: 0 none;" name="vd-logo-original.png"></h:graphicImage>
			</h:commandLink>
		</h:form>

		<h:panelGroup layout="block"
			style="width:500px;margin-left:auto;margin-right:auto;">
			<p:panel style="border-width: 2px;">
				<p:panelGrid columns="1" style="border-collapse: initial; ">
					<h3>#{msg['error_title']}</h3>
					<h:outputText value="#{msg['error_general']}" />
					<p:outputPanel>Error: #{param.error}</p:outputPanel>
					<h:outputText escape="false" value="#{msg['error_general2']}" />
					<p:button value="#{msg['button_goon']}" style="float: right;"
						href="/index.xhtml" />
				</p:panelGrid>
			</p:panel>
		</h:panelGroup>
	</h:body>

</f:view>

</html>