<html id="html" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<body id="body">

	<ui:composition id="mainComposition"
		template="/template/templateNorthWestCenter.xhtml">

		<ui:define id="west" name="west">
			<ui:include src="/navigation.xhtml" />
		</ui:define>
		<ui:define id="center" name="center">
		</ui:define>
	</ui:composition>

</body>

</html>