<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata id="metadata-for-view">
        <f:event id="preRenderView-Event" type="preRenderView" listener="#{actuatorControlScreenBean.preRenderViewListener}"/>
    </f:metadata>
    <body id="body">
        <ui:composition id="mainComposition" template="/template/templateNorthWestCenter.xhtml">
            <ui:define id="center" name="center">
                <h3 id="pageHeading">#{msg['actuatorControlScreenHeading']}
                </h3>
                <h:form id="mainForm">
                    <p:panelGrid id="actuatorControlScreen" layout="grid" columns="1">
                        <p:panelGrid id="actuatorControlPanelGrid" layout="grid" columns="2">
                            <!-- form element for ui component 'ipOrHostOfCoapServer' -->
                            <p:outputLabel id="ipOrHostOfCoapServerLabel" for="ipOrHostOfCoapServer" value="#{msg['ipOrHostOfCoapServerLabel']}"
                                title="#{msg['ipOrHostOfCoapServerLabelTitle']}"/>
                            <p:inputText id="ipOrHostOfCoapServer" value="#{actuatorControlScreenBean.dto.actuatorControl.ipOrHostOfCoapServer}"/>
                            <!-- form element for ui component 'lightStatus' -->
                            <p:outputLabel id="lightStatusLabel" for="lightStatus" value="#{msg['lightStatusLabel']}"
                                title="#{msg['lightStatusLabelTitle']}"/>
                            <p:outputLabel id="lightStatus" value="#{actuatorControlScreenBean.dto.actuatorControl.lightStatus}"/>
                            <!-- form element for ui component 'temperature' -->
                            <p:outputLabel id="temperatureLabel" for="temperature" value="#{msg['temperatureLabel']}"
                                title="#{msg['temperatureLabelTitle']}"/>
                            <p:outputLabel id="temperature" value="#{actuatorControlScreenBean.dto.actuatorControl.temperature}"/>
                            <!-- form element for ui component 'humidity' -->
                            <p:outputLabel id="humidityLabel" for="humidity" value="#{msg['humidityLabel']}"
                                title="#{msg['humidityLabelTitle']}"/>
                            <p:outputLabel id="humidity" value="#{actuatorControlScreenBean.dto.actuatorControl.humidity}"/>
                        </p:panelGrid>
                        <p:toolbar id="actuatorControlToolbar">
                            <f:facet id="left" name="left">
                                <p:commandButton id="toggleLight" value="#{msg['toggleLightLabel']}" action="#{actuatorControlScreenBean.toggleLightActuatorControlToolbar()}"/>
                                <p:commandButton id="getLightStatus" value="#{msg['getLightStatusLabel']}" action="#{actuatorControlScreenBean.getLightStatusActuatorControlToolbar()}"/>
                                <p:commandButton id="getTemperature" value="#{msg['getTemperatureLabel']}" action="#{actuatorControlScreenBean.getTemperatureActuatorControlToolbar()}"/>
                                <p:commandButton id="getHumidity" value="#{msg['getHumidityLabel']}" action="#{actuatorControlScreenBean.getHumidityActuatorControlToolbar()}"/>
                            </f:facet>
                            <f:facet id="right" name="right"/>
                        </p:toolbar>
                    </p:panelGrid>
                </h:form>
            </ui:define>
            <ui:define id="west" name="west">
                <ui:include id="menuWest" src="/cockpitapplication/actuatorControlScreenMenuWest.xhtml"/>
            </ui:define>
        </ui:composition>
    </body>
</html>