<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata id="metadata-for-view">
        <f:event id="preRenderView-Event" type="preRenderView" listener="#{historyScreenBean.preRenderViewListener}"/>
    </f:metadata>
    <body id="body">
        <ui:composition id="mainComposition" template="/template/templateNorthWestCenter.xhtml">
            <ui:define id="center" name="center">
                <h3 id="pageHeading">#{msg['historyScreenHeading']}
                </h3>
                <h:form id="mainForm">
                    <p:panelGrid id="historyScreen" layout="grid" columns="1">
                        <p:panelGrid id="sensorInstancePanelGrid" layout="grid" columns="2">
                            <!-- form element for ui component 'id' -->
                            <p:outputLabel id="idLabel" for="id" value="#{msg['idLabel']}"
                                title="#{msg['idLabelTitle']}"/>
                            <p:outputLabel id="id" value="#{historyScreenBean.dto.sensorInstance.id}"/>
                        </p:panelGrid>
                        <p:dataTable id="ListOfSensorData" value="#{historyScreenBean.dto.listOfSensorData}" var="ListOfSensorDataVar">
                            <p:column id="idColumn" headerText="#{msg['idHeader']}">
                                <p:outputLabel id="id" value="#{ListOfSensorDataVar.id}"/>
                            </p:column>
                            <p:column id="timeOfMeasurementColumn" headerText="#{msg['timeOfMeasurementHeader']}">
                                <p:outputLabel id="timeOfMeasurement" value="#{ListOfSensorDataVar.timeOfMeasurement}"/>
                            </p:column>
                            <p:column id="actualValueColumn" headerText="#{msg['actualValueHeader']}">
                                <p:outputLabel id="actualValue" value="#{ListOfSensorDataVar.actualValue}"/>
                            </p:column>
                            <p:column id="actualUnitColumn" headerText="#{msg['actualUnitHeader']}">
                                <p:outputLabel id="actualUnit" value="#{ListOfSensorDataVar.actualUnit}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>