<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata id="metadata-for-view">
        <f:event id="preRenderView-Event" type="preRenderView" listener="#{listOfSensorsInstancesControllerBean.preRenderViewListener}"/>
    </f:metadata>
    <body id="body">
        <ui:composition id="mainComposition" template="/template/templateNorthWestCenter.xhtml">
            <ui:define id="center" name="center">
                <h3 id="pageHeading">#{msg['listOfSensorsInstancesControllerHeading']}
                </h3>
                <h:form id="mainForm">
                    <p:panelGrid id="listOfSensorsInstancesController" layout="grid" columns="1">
                        <p:dataTable id="ListOfSensorsInstances" value="#{listOfSensorsInstancesControllerBean.dto.listOfSensorsInstances}" var="ListOfSensorsInstancesVar">
                            <p:column id="idColumn" headerText="#{msg['idHeader']}">
                                <p:outputLabel id="id" value="#{ListOfSensorsInstancesVar.id}"/>
                            </p:column>
                            <p:column id="actualValueColumn" headerText="#{msg['actualValueHeader']}">
                                <p:outputLabel id="actualValue" value="#{ListOfSensorsInstancesVar.actualValue}"/>
                            </p:column>
                            <p:column id="actualUnitColumn" headerText="#{msg['actualUnitHeader']}">
                                <p:outputLabel id="actualUnit" value="#{ListOfSensorsInstancesVar.actualUnit}"/>
                            </p:column>
                            <p:column id="showSensorDataColumn" headerText="#{msg['showSensorDataHeader']}">
                                <p:commandButton id="showSensorData" action="#{listOfSensorsInstancesControllerBean.actionShowSensorDataListOfSensorsInstances()}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>