<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata id="metadata-for-view">
        <f:event id="preRenderView-Event" type="preRenderView" listener="#{mainScreenBean.preRenderViewListener}"/>
        <f:viewParam name="sensorInstancePk" value="#{mainScreenBean.selectedSensorInstance.pk}"/>
    </f:metadata>
    <body id="body">
        <ui:composition id="mainComposition" template="/template/templateNorthWestCenter.xhtml">
            <ui:define id="west" name="west">
	            <ui:include src="/navigation.xhtml" />
	        </ui:define>
            <ui:define id="center" name="center">
                <h3 id="pageHeading">#{msg['mainScreenHeading']}
                </h3>
                <h:form id="mainForm">
                    <p:panelGrid id="mainScreen" layout="grid" columns="1">
                        <p:dataTable id="ListOfSensorsInstances" value="#{mainScreenBean.dto.listOfSensorsInstances}" var="ListOfSensorsInstancesVar">
                            <p:column id="idColumn" headerText="#{msg['idHeader']}" style="width:400px">
                                <p:outputLabel id="id" value="#{ListOfSensorsInstancesVar.id}"/>
                            </p:column>
                            <p:column id="actualValueColumn" headerText="#{msg['actualValueHeader']}">
                                <p:outputLabel id="actualValue" value="#{ListOfSensorsInstancesVar.actualValue}"/>
                            </p:column>
                            <p:column id="actualUnitColumn" headerText="#{msg['actualUnitHeader']}">
                                <p:outputLabel id="actualUnit" value="#{ListOfSensorsInstancesVar.actualUnit}"/>
                            </p:column>
                            <p:column id="showSensorDataColumn" headerText="#{msg['showSensorDataHeader']}" style="width:200px">
                                <p:commandButton id="showSensorData" value="show ..." action="#{mainScreenBean.actionShowSensorDataListOfSensorsInstances()}" process="@all" >
                                    <f:setPropertyActionListener value="#{ListOfSensorsInstancesVar}" target="#{mainScreenBean.selectedSensorInstance}" />
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </p:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>