<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata id="metadata-for-view">
        <f:event id="preRenderView-Event" type="preRenderView" listener="#{sensorValueMonitoringScreenBean.preRenderViewListener}"/>
    </f:metadata>
    <body id="body">
        
        <ui:composition id="mainComposition" template="/template/templateNorthWestCenter.xhtml">
	        <ui:define id="west" name="west">
	            <ui:include src="/navigation.xhtml" />
	        </ui:define>
            <ui:define id="center" name="center">
	            <f:facet name="last">
				    <h:outputScript library="js" name="mqttws31.js" target="head" />
				</f:facet>
                <h3 id="pageHeading">#{msg['sensorValueMonitoringScreenHeading']}
                </h3>
                <h:form id="mainForm">
                    <p:panelGrid id="sensorValueMonitoringScreen" layout="grid" columns="1">
                    <p:outputLabel id="message" value="no data so far (most probably no connection)" />
                    </p:panelGrid>
                </h:form>
                
                <script type="text/javascript">
	                // Create a client instance
	                client = new Paho.MQTT.Client(location.hostname, 8000, "cockpit");
	
	                // set callback handlers
	                client.onConnectionLost = onConnectionLost;
	                client.onMessageArrived = onMessageArrived;
	
	                // connect the client
	                client.connect({onSuccess:onConnect});
	
	
	                // called when the client connects
	                function onConnect() {
	                  // Once a connection has been made, make a subscription and send a message.
	                  console.log("onConnect");
	                  client.subscribe("/World");
	                  message = new Paho.MQTT.Message("Hello");
	                  message.destinationName = "/World";
	                  client.send(message); 
	                }
	
	                // called when the client loses its connection
	                function onConnectionLost(responseObject) {
	                  if (responseObject.errorCode !== 0) {
	                    console.log("onConnectionLost:"+responseObject.errorMessage);
	                  }
	                }
	
	                // called when a message arrives
	                function onMessageArrived(message) {
	                  console.log("onMessageArrived:"+message.payloadString);
// 	                  alert($( "message" ));
                      var messageLabel = $( "[id$=message]" );
                      messageLabel.text( message.payloadString );
// 	                  alert(message.payloadString);
	                }
			    </script>
            </ui:define>
        </ui:composition>
        
    </body>
    
    
</html>