<html id="html" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:metadata id="metadata-for-view">
	<f:event id="preRenderView-Event" type="preRenderView"
		listener="#{cloudStorageControlScreenBean.preRenderViewListener}" />
</f:metadata>
<body id="body">
	<ui:composition id="mainComposition"
		template="/template/templateNorthWestCenter.xhtml">
		<ui:define id="west" name="west">
			<ui:include src="/navigation.xhtml" />
		</ui:define>
		<ui:define id="center" name="center">

			<h3 id="pageHeading">#{msg['cloudStorageControlScreenHeading']}
			</h3>
			<h:form id="mainForm">	
				<p:panelGrid id="cloudStorageControlScreen">
    				<p:row>
					    <p:column>
						    <p:outputPanel id="messages" layout="block" style="overflow-y:scroll;height:500px;font-size:12px;width:600px;background-color:#{pahoClientBean.connected ? 'auto' : 'yellow'}"/>
						</p:column>
						<p:column>
						    <p:panelGrid id="pahoClientControl" layout="grid" columns="2" style="width:400px">
							    <h:outputText value="Connected: " />
	                            <p:inputSwitch id="connectionSwitcher" value="#{pahoClientBean.connected}">
	                                <p:ajax listener="#{pahoClientBean.actionChangeConnectionStatus}" update="messages"/>
	                            </p:inputSwitch>
						    </p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			
				<p:socket onMessage="handleMessage" channel="/messages" autoConnect="true" widgetVar='subscriber' />
				<p:socket onMessage="handleConnection" channel="/connection" autoConnect="true" widgetVar='connectionSubscriber' />
	            <p:remoteCommand name="refreshConnectionStatus" actionListener="#{pahoClientBean.refreshConnectionStatus}" process="@this" update="mainForm:connectionSwitcher mainForm:messages"  />
            </h:form>
            
			<script type="text/javascript">
				function handleMessage(message) {
					var chatContent = $(PrimeFaces.escapeClientId('mainForm:messages'));
					var messageMetaData = "[" + message.messageArrival + "] " + message.topic + " qos:" + message.qos + ", duplicate:" + message.duplicate + ", retained:" + message.retained;

					var count = chatContent.children().length;
					if (count == 8) {
						chatContent.children()[0].remove();
					}
					chatContent.append("<p>" + messageMetaData + '<br/><span style="padding-left:20px">' + '   ' + message.content + "</span></p>");
					
					//keep scrolling
					chatContent.scrollTop(10000);
				}
				
				function handleConnection(connectionStatus) {
					refreshConnectionStatus();
				}
				
				function toggleInputSwitch() {
					var connectionSwitcher = $(PrimeFaces.escapeClientId('mainForm:connectionSwitcher'));
					connectionSwitcher.toggle();
				}
			</script>
		</ui:define>
	</ui:composition>
</body>
</html>