<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata id="metadata-for-view">
        <f:event id="preRenderView-Event" type="preRenderView" listener="#{cloudStorageControlScreenBean.preRenderViewListener}"/>
    </f:metadata>
    <body id="body">
        <ui:composition id="mainComposition" template="/template/templateNorthWestCenter.xhtml">
            <ui:define id="center" name="center">
                <h3 id="pageHeading">#{msg['cloudStorageControlScreenHeading']}
                </h3>
                <h:form id="mainForm">
                    <p:panelGrid id="cloudStorageControlScreen" layout="grid" columns="1"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>